body
    div.loginPage__inner
        h2.mainHeader Sign in to IMDB Lite
        div.errDiv
        form.log-in-form
        label(for="userName") Username
        input(type="text" name="userName" required)
        label(for="password") Password
        input(type="password" name="password" required)
        button(type="submit") Continue
        button.demoButton Demo Login

script(src="/js/demo.js")
script(src="/js/log-in.js")
script(src="/js/index.js")